    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle">
        <img class="menu-icon" src="/menu-icon.png" alt="Menu">
        <img class="close-icon" src="/close-icon.png" alt="Close">
    </label>
    <div class="drop-menu">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/searches/new">Search for a Book</a></li>
            </ul>
        </nav>
    </div>