<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <title>book_app </title>
</head>
<body>
    <%- include('../layouts/header') %>
<div class="welcome-container">
    <h1 class="welcome-title">Welcome to the Book App</h1>
    <p class="welcome-text">This is a simple book search app that allows you to search for books by title or author</p>
    <p class="welcome-text">Click the link below to go to the search page</p>
    <a class="button" href="/searches/new">Search for a book</a>
</div>
  <%- include('../layouts/footer') %>
</body> 
</html>

