body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width:100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
}

