.modal{
    display: none;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
}
.modal-content{
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.modal.open{
    display:flex;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}

.modal-content form{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.update-button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content input{
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 100%;
}

