form{
    margin: 0 auto;
    margin-top:120px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 300px;
    justify-content: center;
    align-items: center;

}
.radio-container{
    
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.radio-container input{
    margin-right: 10px;
}
.radio-container label{
    margin-right: 10px;
}
.radio-container input[type="radio"]{
    accent-color: #007bff;
}
.radio-container input[type="radio"]:checked{
    background-color: #007bff;
}
.radio-container input[type="radio"]:checked + label{
    color: #007bff;
}
.radio-container input[type="radio"]:checked + label:before{
    content: '✓';
}
input[type="text"]{
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
input[type="submit"]{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
input[type="submit"]:hover{
    transition: 0.3s ease-in-out;
    background-color: #0051ca;
    color: #ffffff;
    transform: scale(1.05);
}


.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 100%;
}


img{
    width:300px;
    height:300px;
    border-radius: 5px;
}
.result-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

p{
    font-size: 9px;
    color: #333;
}

.result { overflow: hidden; }
details > summary { cursor: pointer; }

details{
    font-size: 12px;
    color: #333;
}
details summary{
    font-size: 12px;
    color: #333;
}
details summary:hover{
    color: #007bff;
}
details p{
    font-size: 12px;
    color: #333;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}


.welcome-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.welcome-title{
    font-size: 24px;
    font-weight: bold;
}
.welcome-text{
    font-size: 16px;
    font-weight: normal;
}
.button{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none; /*  if the link is a button, it will not have a underline*/
}
.button:hover{
    transition: 0.3s ease-in-out;
    background-color: #0051ca;
    color: #ffffff;
    transform: scale(1.05);
}

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}
.header-container a{
    text-decoration: none;
}
.header-container a:hover{
    transition: 0.3s ease-in-out;
    background-color: #0051ca;
    color: #ffffff;
    transform: scale(1.05);
    border-radius: 20px;
    padding: 10px;
}