
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding:0;
    margin: 10px;
    width: 300px;
    height:400px;
    overflow: visible;
    box-sizing: border-box;

}

.result:hover{
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.result > :not(img){
    padding:5px;
}
 .result form{
   margin-top: auto;
   width: 100%;
   display: flex;
   justify-content: center;
 
}

.result-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.result h3{
    font-size: 16px;
    margin: 8px 10px;
    display:-webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
p{
    font-size: 9px;
    color: #333;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}


.welcome-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.welcome-title{
    font-size: 24px;
    font-weight: bold;
}
.welcome-text{
    font-size: 16px;
    font-weight: normal;
}
.button{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}
.button:hover{
    transition: 0.3s ease-in-out;
    background-color: #0051ca;
    color: #ffffff;
    transform: scale(1.05);
}
.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}
.view-details-button{
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
}



.add-to-bookshelf-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    width: 150px;    
    height:50px;
}
.add-to-bookshelf-button:hover{
    transition: 0.3s ease-in-out;
    background-color: #0051ca;
    color: #ffffff;
    transform: scale(1.05);
}

.saved-books-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}
.total-books-text{
    background-color: #007bff;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.view-details-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    width: 150px;
    height:50px;
}
.view-details-button:hover{
    transition: 0.3s ease-in-out;
    background-color: #0051ca;
    color: #ffffff;
    transform: scale(1.05);
}
.book-detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}